

body {
  background-color: black;
  display: flex;
  height: 100%;
  width: 100%;
  color: white;
}

#root{
  margin:auto;
  display: flex;
  flex-flow: column;
  height: 600px;
  width: 500px;
}

#questionView {
  text-align: center;
}

#board {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin: 15px auto;
}

.color{
  height: 200px;
  width:200px;
  margin: 10px;
  font-size: 45px;
  text-align: center;
  line-height: 200px;

}
#red{
  background-color: red;
  border-top-left-radius: 25%
}
#green {
  background-color: green;
  border-top-right-radius: 25%
}
#blue {
  background-color: blue;
  border-bottom-left-radius: 25%
}
#yellow {
  background-color: yellow;
  border-bottom-right-radius: 25%
}
#red.light {
  background-color: pink;
}
#green.light {
  background-color: lightgreen;
}
#blue.light {
  background-color: lightblue;
}
#yellow.light {
  background-color: #ff7
}
#control {
  display: flex;
  justify-content: space-around;

  /*justify-content: center;*/
}
#start {
  border-radius: 50%;
  font-weight: bold;
}
.active {
  background-color: #aaa !important;
}

input {
  display: inline-block;
  background-color: white;
  color:black;
  width:5em;
}
