

body {
  background-color: black;
  display: flex;
  height: 100%;
  width: 100%;
  color: white;
}

#root{
  margin:auto;
  display: flex;
  flex-flow: column;
  height: 600px;
  width: 500px;
}

#title {
}
#board {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.color-square{
  height: 200px;
  width:200px;
  margin: 20px;
}
#red{
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
#red.light {
  background-color: pink;
}
#green.light {
  background-color: lightgreen;
}
#blue.light {
  background-color: lightblue;
}
#yellow.light {
  background-color: #ff7
}
#control {
  display: flex;
  justify-content: space-around;

  /*justify-content: center;*/
}
#control button {
  border-radius: 50%;
  font-weight: bold;
}
input {
  display: inline-block;
  background-color: white;
  color:black;
  width:5em;
}
